<div class="container">

</div>
<div class='image-circle-show'>
  <% if @user.picture_url == nil %>
  <img> <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw', width: 200, height: 200)%>
  <% else %>
  <img> <%= image_tag(@user.picture_url, width: 200, height: 200)%>
  </img>
  <% end  %>
</div>

  <br>
  <br>

<p>
  <h1 class="user-name"><strong><%= @user.user_name %></strong></h1>
</p>

<p>
  <strong>Name:</strong> <br>
  <%= @user.first_name + " " + @user.last_name %>
</p>

<p>
    <strong>Sport type:</strong> <br>
    <%= @user.sport_type %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
