<nav class="nav-bar">
  <div class="fs-pencil-alt">
    <p class="fas fa-pencil-alt"><%= link_to '  edit', edit_user_path(@user)%></p>
  </div>
</nav>

<div class="container">

</div>
<div class='image-circle-show'>
  <% if @user.picture_url == nil %>
  <img> <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7jFbjBxexVsYsryQaYhSHZ2XSo5Li-pLVAU5nxt2qWqjXkS5d&s', width: 200, height: 200)%>
  <% else %>
  <img> <%= image_tag(@user.picture_url, width: 200, height: 200)%>
  </img>
  <% end  %>
</div>

  <br>
  <br>

<p>
  <h1 class="user-name"><strong><%= @user.user_name %></strong></h1>
</p>

<p>
  <strong>Name:</strong> <br>
  <%= @user.first_name + " " + @user.last_name %>
</p>

<p>
  <% if @user.sport_type != nil && @user.sport_type != "" %>
    <strong>Sport Type:</strong> <br>
    <%= @user.sport_type %>
  <% end %>
</p>

<p>
  <% if @user.pass != nil && @user.pass != "" %>
    <strong>Ski Pass:</strong> <br>
    <%= @user.pass %>
  <% end %>
</p>

<p>
  <% if @user.bio != "" %>
  <strong>Bio:</strong>
  <%= @user.bio %>
  <% end %>
</p>
<br>
<strong>User Reviews:</strong><br>

<% if @user.reviews != []%>
  <section class = "reviews">
  <% @user.reviews.each do |review| %>
    Title: <%= review.title %>
    Review: <%= review.content %>
    User Rating: <%= review.rating %>/5
  <% end %>
  Average User Rating: <%= @user.avg_rtg %>/5
  </section>
<% else %>
  This user doesn't have any reviews yet <br>
<% end %>
<br><br>

<%= link_to 'Edit Profile', edit_user_path(@user.id) %> |
<%= link_to 'Add A Vehicle', new_user_vehicle_path(@user.id) %>

</div>
