<section class='trip_creation_form'>
  <h1>Create A New Trip</h1>
  <%= form_tag(trip_filter_creation_path, method: "get") do %>
    <p>Trip Details</p><%= select_tag(:ride_type, options_for_select(trip_list), {class: "trip-field"}) %>
    <p>Seats Available</p><%= select_tag(:seats_available, options_for_select(seats_list), {class: "seat-field"}) %>
    <p>Destination</p><%= select_tag(:destination, options_for_select(destination_list), {class: "destination-field"}) %>

    <p>Date of Departure</p>
    <%= select_tag(:departure_day, options_for_select(days_list), {class: "day-field"}) %>
    <%= select_tag(:departure_month, options_for_select(month_list), {class: "month-field"}) %>
    <%= select_tag(:departure_year, options_for_select(year_list), {class: "year-field"}) %>
    
    <%= submit_tag('SEND IT', class: "button") %>
  <% end %>


</section>
