

<% @trips.each do |trip| %>

  <section id="trip-<%= trip.id %>">
    <%= trip.rtd_location.name %>
    <%= trip.destination_point %>
    <%= trip.seats_available %>
    <%= trip.ride_type %>
    <%= trip.date_of_departure %>
    <%= link_to "Catch This Lift", ride_create_path(trip: trip.id), method: :post %>
  </section>

<% end %>
