<h1>My Vehicles</h1>
<h3><%= "Total Vehicles: #{@vehicles.count}" %></h3>

<% @vehicles.each do |vehicle|%>
  <ul class='vehicle'>
    <div class='car-icon'>
      <% if vehicle.image == nil %>
        <%= link_to image_tag("https://www.chalets-meribel.co.uk/images/graphics/car-journey.png", width: 50, height: 50), user_vehicle_path(current_user.id, vehicle.id) %>
      <% else %>
        <img> <%= image_tag(vehicle.image, width: 50, height: 50)%>
        </img>
      <% end %>
    </div>

    <p class='make'><h3><%=vehicle.make%></h3></p>
    <p class='model'><h4><%=vehicle.model%></h4></p>
    <p class='vehicle-year'>Year: <%=vehicle.year%></p>
    <p class='awd'>AWD: <%=vehicle.awd%></p>
    <p class='storage_rack'>Roof Rack: <%=vehicle.storage_rack%></p>
    <p class='total_seats'>Total Seats: <%=vehicle.total_seats%></p>
  </ul>
  <hr>
<% end %>
