<h1>My Vehicles</h1>
<h3><%= "Total Vehicles: #{@vehicles.count}" %></h3>

<% @vehicles.each do |vehicle|%>
  <ul class='vehicle'>
    <div class='image-circle-show'>
      <% if vehicle.image == nil %>
        <%= image_tag("https://www.chalets-meribel.co.uk/images/graphics/car-journey.png", width: 200, height: 200) %>
      <% else %>
        <img> <%= image_tag(vehicle.image, width: 200, height: 200)%>
        </img>
      <% end %>
    </div>

    <li class='make'><h3><%=vehicle.make%></h3></li>
    <li class='model'><h4><%=vehicle.model%></h4></li>
    <li class='year'>Year:<%=vehicle.year%></li>
    <li class='awd'>AWD:<%=vehicle.awd%></li>
    <li class='storage_rack'>Roof Rack:<%=vehicle.storage_rack%></li>
    <li class='total_seats'>Total Seats:<%=vehicle.total_seats%></li>
  </ul>
<% end %>
