<h2>How was your ride with <%= "#{@user.first_name} #{@user.last_name}" %>?</h2>


<%= form_with model: [:user, @review], local: true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, required: true %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content,  required: true %>
  </div>
  <% form.hidden_field :user, :value => @user %>

  <div class="actions">
    <%= form.submit "Send It!" %>
  </div>
<% end %>
